
<div class="col-md-6">
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">New Blog</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <%= simple_form_for(@blog, html: {role: "form"}) do |f| %>
      <%= f.error_notification %>

      <div class="card-body">
        <div class="form-group">
          <%= f.input :title, input_html: { class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= f.input :content, input_html: { class: "form-control", rows: 5 } %>
        </div>

      </div>

      <div class="card-footer">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
