<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Get Employed.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- stylesheet_link_tag "style" -->
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <!--<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/assets/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/assets/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/assets/responsive.css" />
        <%= javascript_include_tag 'start.js' %>
        <%= javascript_include_tag 'modernizr-2.8.3-respond-1.4.2.min.js' %>
    </head>










    
    <body data-spy="scroll" data-target="#main-navbar">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        
        <div id="menubar" class="main-menu">    
            <nav class="navbar navbar-default navbar-fixed-top">

                <div class="container">
                    <a class="navbar-brand" href="" style="display:  block;"><%= image_tag "logo1.png" %></a>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <%= link_to "Home", root_path, class: "navbar-item button is-danger is-rounded" %>
                            </li>
                            
                            <li>
                                <%= link_to "Service", "#works-area", class: "navbar-item button is-primary is-rounded" %>
                            </li>
                            
                            <li>
                                <%= link_to "About", "#our-team", class: "navbar-item button is-primary is-rounded" %>
                            </li>
                            
                            <li>                                
                                <%= link_to "Portfolio", "#our-portfolio", class: "navbar-item button is-primary is-rounded" %>
                            </li>
                            
                            <li>
                                <%= link_to "History", "#our-history", class: "navbar-item button is-primary is-rounded" %>
                            </li>

                            <li>
                                <%= link_to "Features", "#our-feature", class: "navbar-item button is-primary is-rounded" %>
                            </li>
                            
                            <li>
                                <%= link_to "Contact", "#our-supports", class: "navbar-item button is-primary is-rounded" %>
                            </li>

                            
                            
                            <% if user_signed_in? %>
                                <li>
                                    <%= link_to 'Schedules', test_events_path, class: "navbar-item button is-danger is-rounded" %>
                                </li>

                                <li>
                                <%= link_to 'Jobs Board', jobs_path, class: "navbar-item button is-primary is-rounded" %>
                               </li>
                               
                                <li>
                                    <%= link_to 'Dashboard', my_calender_path, class: "navbar-item button is-danger is-rounded" %>
                                </li>

                                <li>
                                    <%= link_to 'Mocks', pages_quiz_path, class: "navbar-item button is-danger is-rounded" %>
                                </li>

                                <li>
                                    <%= link_to 'Blogs', blogs_path, class: "navbar-item button is-danger is-rounded" %>
                                </li> 

                                <li>
                                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-item button is-danger is-rounded" %>
                                </li> 

                            <% else %>
                                <li>
                                <%= link_to "Sign In", new_user_session_path, class: "navbar-item button is-primary is-rounded" %>
                                </li>
                            <% end %>

                            <div class="contact-number text-right"> 
                                <ul><li class="">(+91-86999-8222)</li></ul>
                            </div>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--Home page style-->
        <header id="home" class="sections">
            <div class="container">

                <div class="row">
                    <div class="homepage-style">

                        <div class="top-arrow hidden-xs text-center"><%= image_tag "top-arrow.png" %></div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="unique-apps">
                                <h2>Get Employed<br>.com</h2>
                                <p>
                                    Getemployed.com is a brand new career website for the job market in India that specifically caters to the needs of employers and aspiring jobseekers.
                                </p>

                                <div class="home-btn">
                                    <button class="btn btn-primary">View More 
                                        <span>
                                            <i class="fa fa-paper-plane"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="slider-area">

                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">

                                        <div class="item active">
                                            <%= image_tag "slider-img1.jpg" %>
                                        </div>

                                        <div class="item">
                                            <%= image_tag "slider-img2.jpg" %>
                                        </div>

                                        <div class="item">
                                            <%= image_tag "slider-img3.png" %>
                                        </div>

                                        <div class="item">
                                            <%= image_tag "slider-img4.png" %>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>  
                </div>

            </div>

        </header>

        <!-- Sections -->
        <section id="our-portfolio" class="sections">
            <div class="container">

                <div class="row">
                    <div class="heading">
                        <div class="title text-center arrow-right">
                            <h4 class="">Portfolio </h4>
                            <%= image_tag "right-arrow.png" %>


                        </div>
                    </div>  


                    <!-- Example row of columns -->

                    <div class="portfolio-wrap">

                        <div class="portfolio">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= image_tag "monitor11.png"  %>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>Graduate Programs</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>
                                    <button class="btn pt-btn btn-primary">View More</button>
                                </div>
                            </div>

                        </div>



                        <div class="portfolio">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>Post Graduate Programs</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>
                                    <button class="btn pt-btn btn-primary">View More</button>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= image_tag "monitor12.png",  :class => "portfolio-img img-responsive" %>
                            </div>

                        </div>



                        <div class="portfolio">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= image_tag "monitor13.png",  :class => "portfolio-img img-responsive" %>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>Off Campus Placement</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>
                                    <button class="btn pt-btn btn-primary">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /container -->       
        </section>

        <section id="works-area" class="sections">
            <div class="container text-center">

                <div class="heading">
                    <div class="title text-center arrow-left">
                        <%= image_tag "left-arrow.png",  :class => "hidden-xs" %>

                        <h4 class="">Services </h4>
                    </div>
                </div>  

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="main-works">
                            <%= image_tag "map.png" %>
                        </div>
                    </div>
                </div>  
            </div>
        </section>

        <section id="our-feature" class="sections">
            <div class="container">
                <div class="heading">
                    <div class="title text-center arrow-left">
                        <%= image_tag "left-arrow.png",  :class => "hidden-xs" %>

                        <h4 class="">Our Features</h4>
                    </div>
                </div>

                <div class="feature-wrapper">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content active"> 
                                <h4><i class="fa fa-database"></i><span>JOB SEEKER REGISTRATION</span></h4>
                                <p>This section provides the opportunity for a job seeker to get himself registered in this portal. It is after the registration process that he receives his username, password and other login information and also becomes entitled to receive all the other registered member benefits.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>JOB SEARCH ENGINE</span></h4>
                                <p>This utility is to help all job seekers to search for job opportunities. Search options will include job category, location,along with the facilities for a keyword search. All matching search results will be listed, but only registered members will have the opportunity to view job details and apply for the job online.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>MEMBER ACCOUNT</span></h4>
                                <p>All registered members can login to their accounts to applied for Job,view and edit their profiles , our experience in job portal website design helps you in effortlessly managing a recruitment service.</p>
                            </div>
                        </div>

                        </div>
                        
                    </div>  
                </div>      


            </div>


        </section>

      

        <section id="our-history" class="sections">
            <div class="container">

                <div class="row">

                    <div class="main-history">

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="history-img">
                               
                                <%= image_tag "history-img.png" %>
                            </div>
                        </div>



                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="history-wrapper">
                                <div class="history-heading"> 
                                    <h5 class="our-history">Our History</h5>
                                </div>

                                <div class="history-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                        consequat.
                                    </p>

                                    <div class="hst-btn"><button class="btn btn-primary">BROWSE OUR HISTORY</button></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-project" class="sections">
            <div class="container">

                <div class="heading">
                    <div class="title text-center arrow-left">

                        <h4 class="">Our Business Project</h4>
                        <%= image_tag "right-arrow.png" , :class => "hidden-xs" %>
                    </div>
                </div>

                <div class="row">


                    <div class="main-project text-center">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/1.png" %> </div>
                                <h5>TECHNICAL AID</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/2.png" %> </div>
                                <h5>SECURE ACCESS</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/3.png" %> </div>
                                <h5>MARKET RESERCH</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/4.png" %> </div>
                                <h5>CREDIT RESERCH</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/5.png" %> </div>
                                <h5>TECHNICAL AID</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/6.png" %> </div>
                                <h5>SECURE ACCESS</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/7.png" %> </div>
                                <h5>MARKET RESERCH</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><%= image_tag "projects/8.png" %> </div>
                                <h5>CREDIT RESERCH</h5>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section>

        <section id="our-team" class="sections">
            <div class="container">

                <div class="heading">
                    <div class="title text-center arrow-left">
                        <%= image_tag "left-arrow.png",  :class => "hidden-xs"  %>

                        <h4 class="">Our Team Members</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid project-bg">
                <div class="row">

                    <div class="main-team text-center">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">

                                <%= image_tag "team/1.png" , :class => "img-circle" %> 
                                <h5>Ankit</h5>
                                <p>UI & UX DESIGNER</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <%= image_tag "team/2.png" , :class => "img-circle" %> 
                                <h5>Vikas</h5>
                                <p>DEVELOPER</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <%= image_tag "team/3.png" , :class => "img-circle" %> 
                                <h5>Anuj</h5>
                                <p>REVIEWER</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <%= image_tag "team/4.png",  :class => "img-circle" %> 
                                <h5>Govind</h5>
                                <p>MARKETTER</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section id="our-supports" class="sections">
            <div class="container">

                <div class="heading">
                    <div class="title text-center arrow-left">

                        <h4 class="">Updates & Support</h4>
                        <%= image_tag "right-arrow.png" , :class => "hidden-xs" %>
                    </div>
                </div>

                <!-- Example row of columns -->
                <div class="row">


                    <div class="col-sm-6 col-xs-12">
                        <div class="supports-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laboru
                            </p>
                            <div class="spt-btn"><button class="btn btn-primary">SUPPORT CENTER</button></div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="supports-img"><%= image_tag "monitor14.png" , :class => "img-responsive" %></div>
                    </div>


                </div>

            </div> <!-- /container -->       
        </section>

        <section id="hire-us" class="sections">

            <div class="container">

                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="hire-content">
                            <div class="img-overlay">

                                <div class="creative-works">
                                    <h3>NEED CAREER ASSISTANCE?</h3>
                                    
                                    <a href= users/sign_in ><button class="btn hire-btn btn-primary">SignUp Today</button></a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div> <!-- /container -->  

        </section>

        <div class="scroll-top">

            <div class="scrollup">
                <i class="fa fa-angle-double-up"></i>
            </div>

        </div>

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">

                <div class="row">
                    <div class="main-footer">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-item">
                                <h2>PORTFOLIO</h2>
                                <ul>
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Brand & Identity</a></li>
                                    <li><a href="#">Mobile Design</a></li>
                                    <li><a href="#">Print</a></li>
                                    <li><a href="#">User Interface</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-item">
                                <h2>ABOUT</h2>
                                <ul>
                                    <li><a href="#">The Company</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Vision</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-item">
                                <h2>GALLERY</h2>
                                <ul>
                                    <li><a href="#">lickr</a></li>
                                    <li><a href="#">Picasa</a></li>
                                    <li><a href="#">iStockPhoto</a></li>
                                    <li><a href="#">PhotoDune</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-item">
                                <h2>CONTACT</h2>
                                <ul>
                                    <li><a href="#">Basic Info</a></li>
                                    <li><a href="#">Map</a></li>
                                    <li><a href="#">Conctact Form</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="socio-copyright">

                        <div class="social">
                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>

                        <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://www.google.co.in"> Team VAGAA </a>2018. All rights reserved.</p>
                    </div>

                </div>  
            </div>

        </footer>


        <%= javascript_include_tag 'jquery-1.11.2.min.js' %>
        <%= javascript_include_tag 'bootstrap.min.js' %>
        <%= javascript_include_tag 'plugins.js' %>
        <%= javascript_include_tag 'main.js' %>

    </body>
</html>
